        @font-face {
            font-family: 'Marvel';
            src: url('fonts/marvel/Marvel-Regular.ttf');
        }
        
        @font-face {
            font-family: 'orkney';
            src: url('fonts/orkney/orkney-light.otf');
        }
        /*  #video-container {
            position: absolute;
          
        }
        
        */
        
        #video-container {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.3;
        }
        
        #video-container>video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        @supports (object-fit: cover) {
            #video-container>video {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        
        .header-10-sub .background {
            background-image: url("./images/Ground_Position_Light_Shunt_animation.gif");
            opacity: opacity value;
        }
        
        .header-1-sub .pt-page-1 .background {
            background-image: url("images/Alstom_Citadis_401_n°2011_TAM_Place_de_France.jpg");
            opacity: 75;
            filter: alpha(opacity=7500);
            opacity: 0.75;
            filter: alpha(opacity=75);
            background-position: 50% 30%;
        }
        
        .header-1-sub .pt-page-2 .background {
            background-image: url("images/gif___sunset_train_by_turst67-d6mdbgy1.gif");
            opacity: 75;
            filter: alpha(opacity=7500);
            opacity: 0.75;
            filter: alpha(opacity=75);
            background-position: 50% 30%;
        }
        
        .header-1-sub .pt-page-3 .background {
            background-image: url("images/Speeding-train...-Imgur.gif");
            opacity: 75;
            filter: alpha(opacity=7500);
            opacity: 0.75;
            filter: alpha(opacity=75);
            background-position: 50% 30%;
        }
        
        .contacts-3 a {
            color: #F23827;
        }
        
        h1.orkney {
            font-family: 'orkney'
        }
        
        p.marvel {
            font-family: 'Marvel';
        }
        
        h1 {
            font-family: 'orkney', sans-serif;
        }
        
        .header-10-sub .hero-unit h1 {
            font-family: 'orkney', sans-serif;
        }
        
        .contacts-3 {
            font-family: 'Marvel', sans-serif;
        }
        
        .contacts-3 h3 {
            font-family: 'Marvel', sans-serif;
        }
        
        .header-10-sub .hero-unit p {
            font-family: 'Marvel', sans-serif;
        }
        
        .contacts-3 label.h6 {
            font-family: 'Marvel', sans-serif;
        }